[flake8]

extend-ignore =
    E266 # too many leading '#' for block comment
    E203 # whitespace before ':'
    E402 # module level import not at top of file
    E501 # line too long
    E741 # ambiguous variable names
    E265 # block comment should start with #

per-file-ignores =
    __init__.py:F401