[flake8]

extend-ignore =
    # too many leading '#' for block comment
    E266 
    # whitespace before ':'
    E203 
    # module level import not at top of file
    E402 
    # line too long
    E501 
    # ambiguous variable names
    E741 
    # block comment should start with #
    E265 

per-file-ignores =
    __init__.py:F401