__pycache__/
*.py[cod]
.nfs*
build/
dist/
*.egg-info/
site/
venv/
.ipynb_checkpoints
examples/notebooks/dataset
examples/notebooks/CIFAR10_Dataset
examples/notebooks/CIFAR100_Dataset
examples/notebooks/example_logs
examples/notebooks/example_saved_models
examples/notebooks/example_tensorboard
examples/notebooks/data
examples/notebooks/pytorch_resnet_cifar10