pyyaml==5.1
jupyterlab==3.0.16
tensorboard==2.8.0
wandb==0.12.16
pillow==8.2.0
pandas==1.2.4
pyarrow==4.0.1
tqdm==4.51.0
scikit-learn==1.1.0
matplotlib==3.5.2
ipywidgets==7.7.0
umap==0.1.1
record_keeper==0.9.31
scipy==1.8.1
faiss-gpu==1.7.2
timm==0.5.4
umap-learn==0.5.3
efficientnet_pytorch==0.7.1
protobuf==3.19.0
