# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: utils

on:
  push:
    branches: [ master, dev ]
    paths:
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: [ master, dev ]
    paths:
      - 'src/**'
      - 'tests/**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        pytorch-version: [1.6, 1.7, 1.8]
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install numpy
        pip install scikit-learn
        pip install tqdm
        pip install .[with-hooks-cpu]
        pip install torch==${{ matrix.pytorch-version }} --force-reinstall
    - name: Run unit tests
      run: |
        TEST_DTYPES=float32,float64 TEST_DEVICE=cpu python -m unittest discover -t . -s tests/utils 
